<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <title>About Us</title>
</head>
<body>

<header class="header">
  <h1>About Us</h1>
</header>

<main class="content">
  <section>
    <h2>Our Story</h2>
    <p>Welcome to our about page!, we are friends collaborating for a common cause to make vacation planning simpler.</p>
  </section>

  <section>
    <h2>Our Team</h2>
    <p>We are a dedicated team of passionate software engineers, with a common interest to make vacation planning more optimal for the common man.
    if you are willing to contribute, please visit our github page, or we even have a discord channel.</p>
  </section>
</main>

<footer class="footer">
  <p>&copy; 2023 Unwind. All rights reserved.</p>
</footer>

</body>
</html>
