<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <script type="text/javascript" src="assets/js/local-storage-theme-check.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>About Us</title>
  </head>
  <body>
    <!--navigation bar-->
    <nav
      class="navbar navbar-light navbar-expand-lg"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-items"
          aria-controls="navbar-items"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link link-info" href="/v1/"
                ><i
                  class="fa-solid fa-house-crack fa-2xl"
                  style="color: #5d9ba8"
                ></i
              ></a>
            </li>
          </ul>
        </div>

        <div class="dropdown"></div>
      </div>
    </nav>
    <h1
    class="inherit-line-height"
    style="color: #24c1e0;
    text-align: center;"
    >
      Vacation Planner
    </h1>

    <main class="content">
      <section>
        <h2>Our Story</h2>
        <p>
          Welcome to our about page! We are a group of friends collaborating for
          a common cause to make vacation planning process simpler.
        </p>
      </section>

      <section>
        <h2>The Team</h2>
        <p>
          We are a dedicated team of passionate software engineers, with a
          common interest to make vacation planning more enjoyable for the
          general public. If you are willing to contribute to the project,
          please visit our github page or reach out in the discord channel.
        </p>
      </section>
    </main>

    <footer class="footer">
      <p>&copy; 2023 Unwind. All rights reserved.</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/0ee567c03b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="module" src="assets/js/mode-switch.js"></script>
  </body>
</html>
