<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>forgot password</title>
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
                aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link link-info" href="https://github.com/weihesdlegend/Vacation-Planner"><i
                                class="fa fa-github-alt fa_custom fa-2x" style='color:#5d9ba8'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-success" href="/v1/sign-up"><i class="fa fa-user-plus fa-2x"
                                style='color:#5d9ba8'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1> Vacation Planner </h1>
    <div class="container d-flex flex-column mt-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card shadow-sm border rounded">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5>Forgot Password?</h5>
                        </div>
                        <form id="password-reset-form">
                            <div class="mb-3">
                                <input type="email" id="email" class="form-control" placeholder="Enter Your Email"
                                    name="email" required="true">
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary" id="password-reset-submit-btn">
                                    Reset Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="mt-2 alert alert-danger alert-dismissible fade show d-none" role="alert"
                        id="reset-password-email-error">
                        <strong>Failed to send password reset email.</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="mt-2 alert alert-success alert-dismissible fade show d-none" role="alert"
                        id="reset-password-email-success">
                        <strong>Password reset email is sent!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="assets/js/forgot-password.js"></script>
</body>

</html>