<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <!--Bootstrap CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>Vacation Planner Sign in</title>
  </head>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-lg"
      style="background-color: #e3f2fd"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-items"
          aria-controls="navbar-items"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="nav">
            <li class="nav-item">
              <a
                class="nav-link link-info"
                href="https://github.com/weihesdlegend/Vacation-Planner"
                ><i
                  class="fa fa-github-alt fa_custom fa-2x"
                  style="color: #5d9ba8"
                ></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-success" href="/v1/sign-up"
                ><i class="fa fa-user-plus fa-2x" style="color: #5d9ba8"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Vacation Planner</h1>

    <div class="container mt-3" style="align-content: center">
      <form id="login-form">
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
          <input
            id="email"
            type="email"
            class="form-control"
            placeholder="Email"
            required="required"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-key"></i>
          </span>
          <input
            id="password"
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required="required"
          />
        </div>

        <div class="row justify-content-between">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary login-btn btn-block">
              Sign in
            </button>
          </div>
          <div class="col-sm-2">
            <p>
              <a href="/v1/forgot-password" class="link-secondary"
                >forgot password?</a
              >
            </p>
          </div>
        </div>
      </form>
      <div class="mt-2">
        <a href="/v1/login-google">
          <button type="button" class="gsi-material-button">
            <div class="gsi-material-button-state"></div>
            <div class="gsi-material-button-content-wrapper">
              <div class="gsi-material-button-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 48 48"
                  style="display: block"
                >
                  <path
                    fill="#EA4335"
                    d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
                  ></path>
                  <path
                    fill="#4285F4"
                    d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
                  ></path>
                  <path
                    fill="#FBBC05"
                    d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
                  ></path>
                  <path
                    fill="#34A853"
                    d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
                  ></path>
                  <path fill="none" d="M0 0h48v48H0z"></path>
                </svg>
              </div>
              <span class="gsi-material-button-contents"
                >Sign in with Google</span
              >
              <span style="display: none">Sign in with Google</span>
            </div>
          </button>
        </a>
      </div>

      <div
        class="mt-2 alert alert-danger alert-dismissible fade show d-none"
        role="alert"
        id="log-in-error-alert"
      >
        <strong>Login failed!</strong> Please check your credentials.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>

    <script src="assets/js/login.js" type="module"></script>
  </body>
</html>
