<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <script>
      var currentTheme = localStorage.getItem('theme');

      if (currentTheme !== null && currentTheme === 'dark') {
        document.documentElement.setAttribute("data-theme", "dark");
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Bootstrap CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>profile</title>
  </head>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-lg"
    >
      <div class="container-fluid">
        <a class="nav-link" href="javascript:history.back()">Back</a>
        <span class="navbar-text" id="user-profile"></span>
      </div>
    </nav>
    <h1>Profile</h1>
    <br />
    <div class="container d-flex flex-column align-items-center justify-content-center mt-4" id="user-profile-container">
      <!-- Swiper Slider (Vertical Timeline) -->
      <div class="swiper-container" id="profileSwiper">
        <div class="swiper-wrapper" id="profile-swiper-wrapper">
          <!-- Slides will be dynamically inserted here -->
        </div>

        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Swiper Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="assets/js/user.js?v=2"></script>
    <script type="module" src="assets/js/user_profile.js?v=2"></script>
  </body>
</html>
