<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <script type="text/javascript" src="assets/js/local-storage-theme-check.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Bootstrap CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>profile</title>
  </head>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-lg"
    >
      <div class="container-fluid">
        <a class="nav-link" href="javascript:history.back()">Back</a>
        <span class="navbar-text" id="user-profile"></span>
      </div>
    </nav>
    <h1>Profile</h1>
    <br />
    <div class="container" id="user-profile-container">
      <div class="row row-cols-md-2">
        <div class="col">
          <h4>Saved Travel Plans</h4>
          <div id="cards"></div>
          <button
            type="button"
            class="btn btn-outline-primary"
            id="load-more-plans-btn"
            style="display: none"
          >
            Load more
          </button>
        </div>
        <div class="col">
          <h4>Personal Favorites</h4>
          <div class="card" id="most-searched-place">
            <div class="card-body">
              <h5 class="card-title">Most Searched Place</h5>
              <p class="card-text">My Hometown</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="module" src="assets/js/user.js"></script>
    <script type="module" src="assets/js/user_profile.js"></script>
    <script
            async
            src="https://maps.googleapis.com/maps/api/js?key={{.ApiKey}}&loading=async&callback=initMap&loading=async&libraries=&v=weekly"
    ></script>
    <script type="module" src="assets/js/mode-switch.js"></script>
  </body>
</html>
