<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vacation planner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body style="background-color: lightcyan">
<h2 style="color: mediumseagreen; text-align: center">
    Vacation Planner
</h2>
<div class="container">
    <h4 style="color: cornflowerblue">
        Please enter the city, country and weekday you want to visit
    </h4>
    <form>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city">
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" class="form-control" id="country">
        </div>
        <div class="form-group">
            <label for="weekday">Weekday:</label>
            <input type="number" class="form-control" id="weekday">
        </div>
        <div class="form-group">
            <label for="distance">Distance:</label>
            <input type="number" class="form-control" id="distance">
        </div>
        <button type="submit" id="search_button"> Search </button>
    </form>
</div>

<script src="../statics/scripts/app.js"></script>
</body>
</html>
