<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>Vacation Planner Sign in</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
                aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link link-info" href="https://github.com/weihesdlegend/Vacation-Planner"><i
                                class="fa fa-github-alt fa_custom fa-2x" style='color:#5d9ba8'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-success" href="/v1/sign-up"><i class="fa fa-user-plus fa-2x"
                                style='color:#5d9ba8'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1> Vacation Planner </h1>

    <div class="container mt-3" style="align-content: center">
        <form id="login-form">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <span class="fa fa-user"></span>
                </span>
                <input id="username" type="username" class="form-control" name="username" placeholder="Username or Email"
                    required="required">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                </span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                    required="required">
            </div>

            <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
            <!-- TODO: Add Login buttons for Social media (FB, G, TWT) as a separate PR -->
        </form>
    </div>

    <script>
        window.addEventListener("load", function () {
            function sendData() {
                const XHR = new XMLHttpRequest();

                const username = document.getElementById("username").value;
                const password = document.getElementById("password").value;

                XHR.onload = function () {
                    if (XHR.readyState === XHR.DONE) {
                        if (XHR.status === 200) {
                            window.location = "/";
                        } else if (XHR.status === 401) {
                            alert("login failed, please check your credentials");
                        }
                    }
                }

                XHR.open("POST", "/v1/login", true);

                XHR.setRequestHeader("Content-Type", "application/json");

                XHR.send(JSON.stringify({
                    username: username,
                    password: password,
                }));
            }

            const form = document.getElementById("login-form");

            form.addEventListener("submit", function (event) {
                event.preventDefault();

                sendData();
            });
        });
    </script>
</body>

</html>