<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/v1/assets/css/common_style.css">

    <title>Vacation Planner Sign in</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
            <a class="nav-link" href="https://github.com/weihesdlegend/Vacation-Planner">About</a>
            <div class="navbar-collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/v1/sign-up">signup </a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 style="color: #24c1e0; text-align: center; background-color: whitesmoke">
            Vacation Planner
        </h1>
    </div>
    <div class="container">
        <div class="login-form">
            <form id="login-form" style="align-content: center">
                <h2 class="text-center"></h2>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <input id="username" type="text" class="form-control" name="username" placeholder="Username"
                            required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                            required="required">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
                </div>
                <!-- TODO: Add Login buttons for Social media (FB, G, TWT) as a separate PR -->
            </form>
        </div>
    </div>

    <script>
        window.addEventListener("load", function () {
            function sendData() {
                const XHR = new XMLHttpRequest();

                const username = document.getElementById("username").value;
                const password = document.getElementById("password").value;

                XHR.onload = function () {
                    if (XHR.readyState === XHR.DONE) {
                        if (XHR.status === 200) {
                            window.location = "/";
                        } else if (XHR.status === 401) {
                            alert("login failed, please check your credentials");
                        }
                    }
                }

                XHR.open("POST", "/v1/login", true);

                XHR.setRequestHeader("Content-Type", "application/json");

                XHR.send(JSON.stringify({
                    username: username,
                    password: password,
                }));
            }

            const form = document.getElementById("login-form");

            form.addEventListener("submit", function (event) {
                event.preventDefault();

                sendData();
            });
        });
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>