<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Custom CSS-->
    <link rel="stylesheet" href="assets/css/styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--Google Font Icon CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css" rel="stylesheet" />
</head>

<body>
    <div class="modal fade" id="logout-confirm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">Log out</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Finished using the Vacation Planner?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="logout-confirm-btn">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--navigation bar-->
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
                aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link link-info" href="/v1">home</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle" type="button" id="user-profile"
                    data-bs-toggle="dropdown" aria-expanded="false">guest
                </button>
                <ul class="dropdown-menu dropdown-menu-end" style="min-width:120px;" aria-labelledby="user-profile">
                    <li>
                        <a class="dropdown-item p-0" id="profile">
                            <div class="container d-flex align-items-center justify-content-evenly p-0">
                                <span class="material-icons">
                                    account_circle
                                </span>
                                <span> Profile </span>
                            </div>
                        </a>
                    </li>
                    <li id="login-button-item" class="d-none">
                        <a class="dropdown-item p-0" href="/v1/log-in">
                            <div class="container d-flex align-items-center justify-content-evenly p-0">
                                <span class="material-icons">
                                    login
                                </span>
                                <span>Login</span>
                            </div>
                        </a>
                    </li>
                    <li id="logout-button-item">
                        <a class="dropdown-item p-0" data-bs-toggle="modal" data-bs-target="#logout-confirm" href="#">
                            <div class="container d-flex align-items-center justify-content-evenly p-0">
                                <span class=" material-icons">
                                    logout
                                </span>
                                <span>Logout</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>

    <h1 style="color: #24c1e0; text-align: center; background-color: whitesmoke">
        Vacation Planner
    </h1>
    <div class="container mt-3" style="align-items: center" id="contains-everything">
        <div class="input-group mb-3">
            <input class="form-control-sm border-0" type="date" id="datepicker" name="date" value="2022-01-18">
            <input type="text" class="form-control" placeholder="Location" id="location">
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-bordered" id="template">
                    <thead class="table-light">
                        <tr>
                            <th>Category</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-end">
                <div class="btn-group-sm mb-3" role="group">
                    <button type="button" class="btn btn-outline-primary" id="add-row">add</button>
                    <button type="button" class="btn btn-outline-primary" id="remove-row">remove</button>
                    <button type="button" class="btn btn-outline-success" id="search"> Search</button>
                </div>
                <div class="fixedwidthicon">
                    <span id="searchSpinner" class="spinner-border spinner-border-sm text-info mx-1 visually-hidden"
                        role="status" aria-hidden="true"></span>
                </div>
            </div>
        </div>


        <table class="table table-sm table-bordered d-none" style="background: lightcyan; table-layout: fixed"
            id="results">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Place</th>
                </tr>
            </thead>
            <tbody id="results-table-body">
            </tbody>
        </table>

        <div class="d-flex d-none" id="no-valid-plan-error-msg">
            <div class="alert alert-primary" type="alert">No valid plan is found, please try
                search with another spec.
            </div>
        </div>
    </div>
    <script type="module" src="assets/js/plan_template.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/table-to-json@1.0.0/lib/jquery.tabletojson.min.js"
        integrity="sha256-H8xrCe0tZFi/C2CgxkmiGksqVaxhW0PFcUKZJZo1yNU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="module" src="assets/js/jwt-decode.js"></script>
    <script type="module" src="assets/js/user.js"></script>
    <script type="module" src="assets/js/utils.js"></script>
</body>

</html>