<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Plans</title>
    <style>
        h1 {
            color: darkorange;
        }
        body {
            background-color: azure;
            font-size: 18px;
        }
        table {
            border-style: solid;
            border-width: thin;
        }
        th {
            color: dodgerblue;
        }
    </style>
</head>
<body>
<h1>
    Vacation Plans for {{.TravelDestination}}
</h1>
{{if .Err}}
    Error: {{.Err}}<br>
    Error code: {{.StatusCode}}<br>
{{else}}
    {{/*    iterate over multi-slot solutions*/}}
    {{range $i, $p := .Places}}
        {{/*        create one table for each multi-slot solution*/}}
        <table>
            <tr>
                <th> Start Time (Hour) </th>
                <th> End Time (Hour) </th>
                <th> Place Name </th>
                <th> Address </th>
            </tr>
            {{range $p}}
                {{range .Places}}
                    <tr>
                        <td> {{.StartTime}} </td>
                        <td> {{.EndTime}} </td>
                        <td> {{.PlaceName}} </td>
                        <td> {{.Address}} </td>
                    </tr>
                {{end}}
            {{end}}
        </table>
    {{end}}
{{end}}

</body>
</html>
