<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <!-- Customized style -->
    <link rel="stylesheet" href="/v1/assets/css/styles.css">
    <title>Trip Details</title>
</head>

<body>

    <div class="header">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="nav-link" href="javascript:history.back()">Back</a>
                <span class="navbar-text" id="user-profile"> guest </span>
            </div>
        </nav>

        <h1>
            Plan Details
        </h1>
    </div>
    <div class="container d-flex align-items-center justify-content-center mt-4">

        <div class="card shadow-sm border rounded" style="width: 30rem;">
            <div class="card-header d-flex align-items-center justify-content-between">
                <span class="fs-3 fw-bold">
                    {{.TravelDestination}}
                </span>
                <div>
                    <i class="bi bi-bookmark fs-4"></i>
                    <i class="bi bi-heart fs-4"></i>
                </div>

            </div>
            <div id="carouselExampleIndicators" class="carousel slide card-img-top" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </ol>

                <div id="tripCarousel" class="carousel-inner d-flex align-items-center">
                    {{$active := .ShownActive}}
                    {{range $i, $p := .PlaceDetails}}
                    <div class={{if index $active $i}} "carousel-item active" {{else}} "carousel-item" {{end}}>
                        <img src={{.PhotoURL}} class="d-block w-100" alt="...">
                    </div>
                    {{end}}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            {{$active := .ShownActive}}
            {{range $i, $p := .PlaceDetails}}
            <div class={{if index $active $i}} "card-body" {{else}} "card-body d-none" {{end}}>
                <h5 class="card-title">{{ .Name }}</h5>
                <p class="card-text"><a href={{ .URL }}>{{ .FormattedAdress }}</a></p>
            </div>
            {{end}}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="module" src="/v1/assets/js/jwt-decode.js"></script>
    <script type="module" src="/v1/assets/js/user.js"></script>
    <script type="module" src="/v1/assets/js/show-trip-details.js"></script>
</body>

</html>